* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bcbcbc;
    padding: 0px;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #000;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #4e60b3; /* Gebruik de juiste kleurcode */
    color: white; /* Voor de tekst in de header */
    margin: 0; /* Zorgt ervoor dat er geen ruimte rondom de header is */
    
}

.logo p {
    font-size: 24px;
    font-weight: bold;
}

nav ul { 
    list-style: none;
    display: flex;
    gap: 20px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #bcbcbc;
    font-weight: bold;
}

main {
    margin-top: 20px;
}

.info {
    margin-bottom: 20px;
    margin-left:  20px;
    font-size: 30px;
    border: 8px solid #4e60b3;
    position: absolute;
    outline: 4px solid #000;
    outline-offset: -4px;
    border-radius: 15px;
    padding: 35px;
    width: 1000px;

}

.moreinfo {
    position: absolute;
    margin-top: 220px;
    border:  8px solid #4e60b3;
    width: 1000px;
    height: 500px;
    padding: 35px;
    border-radius: 15px;
    margin-left: 20px;
    outline: 4px solid #000;
    outline-offset: -4px;
    font-size: 30px;
}

.moreinfo p {
    font-size: 20px;
}

.moreinfo h5{
    font-size: 40px;
}

.info h5 {
    font-size: 40px;
    margin-bottom: 10px;
}

.info p {
    font-size: 20px;
    color: #333;
}

.quiz-images {
    border: 8px solid #4e60b3;
    width: 500px;
    height: 700px;
    display: flex;
    margin-top: 20px;
    float: right;
    position: relative;
    margin-right: 20px;
    outline: 4px solid #000;
    outline-offset: -4px;
    border-radius: 15px;

}


  
  

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 5px; /* Optional rounded edges for buttons */
    margin-top: 20px;
}

.slides {
    display: none;

}

#steve {
    border: 8px solid #4e60b3;
    outline: 4px solid #000;
    outline-offset: -4px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}